.show-inline {
  display: inline-block;
}

.app-body {
  margin: 80px 20px;
}

.nav-styles {
  background-color: #39d1f3;
}

.nav-item {
  padding: 0 25px;
}

.nav-styles a {
  color: #e8f70c;
}

.nav-styles a:hover {
  color: #67c9a4;
}

.nav-styles a.active {
  color: white;
  font-weight: bold;
}

.dropdown-links a {
  color: #1a1b22;
}

.dropdown-links a:hover {
  color: #252830;
}

.dropdown-menu.show {
  position: absolute;
}
