/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
  color: #369;
  font-family: 'Ubuntu', sans-serif;
}

.headline {
  color: white;
}

.capitalize-case {
  text-transform: capitalize;
}

/* Modal styles */
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1050;
}

.ll-icon {
  text-decoration: none;
}

.modal-header .ll-iconfont-close {
  cursor: pointer;
}

.click-here {
  cursor: pointer;
}
